<div>
    <div>
        <h1><%=@user.name %>さんのページ</h1>
    </div>
    <div>
        <h3>行きたいお店</h3>
    </div>
</div>

<div class="col-sm-8">
<%= render 'restaurants/restaurants',city: @user %>
</div>