<div class="region">
<% prefecture.areas.each do |area| %>
    <div class="region-name"><%= area.name %></div>
         <ul class="list-unstyled">
            <% area.cities.each do |city| %>
                <li>
                  <div class="area-element">
                    <%= link_to city.name, city_path(city) %>
                  </div>
                </li>
            <% end %>
         </ul>
<% end %>
</div>




