
<div>
  <h4 class="toppage-content">都道府県の編集</h4>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    
　  <%= form_with(model: @prefecture, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
      　
        <%= f.text_field :name, class: 'form-control' %>

      <%= f.submit '編集', class: 'btn btn-light btn-block' %>
    <% end %>
  </div>
 </div>
 