<div id="main_visual">
    <img src="#" alt="">
</div>

<div id="wrapper">
    <div id="main">
        <section>
            <h2>都道府県を選ぶ</h2>
            <div class="region">
                <div class="region-name">北海道・東北</div>
                <div class="region-element">北海道</div>
            </div>
            <div class="region">
                <div class="region-name">関東</div>
                <div class="region-element"></div>
            </div>
            <div class="region">
                <div class="region-name">北陸・甲信越</div>
                <div class="region-element"></div>
            </div>
            <div class="region">
                <div class="region-name">中部</div>
                <div class="region-element"></div>
            </div>
            <div class="region">
                <div class="region-name">関西</div>
                <div class="region-element"></div>
            </div>
            <div class="region">
                <div class="region-name">中国</div>
                <div class="region-element"></div>
            </div>
            <div class="region">
                <div class="region-name">四国</div>
                <div class="region-element"></div>
            </div>
            <div class="region">
                <div class="region-name">九州・沖縄</div>
                <div class="region-element"></div>
            </div>
            
        </section>
        
        
    </div>
</div>