
<div>
    <h3 class="toppage-content"><%=@prefecture.name%></h3>
</div>

<% if @count_cities == 0 %>
 <p>まだ登録されていません</p>
<% else %>
 <%=render 'areas/areas',prefecture: @prefecture %>
 
<% end %>

<div class="col-sm-6 to-toppage">
    <%= link_to "トップページに戻る",root_path,class: "btn btn-light btn-block" %>
</div>

