
<div>
    <h3 class="toppage-content"><%=@prefecture.name%></h3>
</div>

<% if @count_cities == 0 %>
 <p>まだ登録されていません</p>
<% else %>
 <div>
    <h5>市区町村を選ぶ</5>
 </div>

 <div class="city-list">
 <ul class="list-unstyled">
  <% @prefecture.cities.each do |city| %>
    <li>
      <div class="region-element">
        <%= link_to city.name, city_path(city) %>
      </div>
    </li>
  <% end %>
 </ul>
 </div>

<% end %>

<div class="to-toppage">
    <%= link_to "トップページに戻る",root_path,class: "btn btn-light btn-lg" %>
</div>

