
<div>
  　<h3 class="toppage-content"><%=@city.name %></h3>
</div>

<% if @count_restaurant == 0 %>

 <p>まだ登録されていません</p>
 
<% else %>
<div class="restaurant-list">
  <%= render 'restaurants/restaurants',city: @city %>
</div>
<% end %>

<div class="to-toppage">
  <%= link_to "市区町村選択に戻る",prefecture_path(@city.prefecture),class: "btn btn-light btn-lg" %>
  <%= link_to "トップページに戻る",root_path,class: "btn btn-light btn-lg" %>
</div>

