/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 

 
 
.container{
     margin-bottom:100px;
 }
 

 
img{
    width:100%;
    margin-bottom:15px;
    height: auto;
}
 
.main_visual{
    display:block;
}

.toppage-content{
    margin-bottom:15px;
    padding:8px;
}

.region-name{
    padding-left:4px;
    border-left : 3px solid #00CC99;
    clear: both; 
    display:block;
    margin-right: 30px;
    margin-top:7px;
    margin-bottom:5px;
}

.region-element{
    float: left;
    margin-right: 10px;
}

.restaurant{
    border: medium solid #CCFFCC;
    padding:10px;
}
.restaurant-name{
    font-size:23px;
    font-weight:bolder;
}

.restaurant-photo{
    float: left;
    margin-right:30px;
    width: 100px;
    height: 150px;
}

.restaurant-btn{
    margin-bottom:5px;
}

.restaurant-list{
    margin-bottom:5px;
}

.to-toppage{
    display:block;
    margin-top:30px;
    margin-bottom:50px;
}



.toppage-content{
    color:#666666;
    padding-bottom:3px;
    background-color:#E6FFE9;
    border-bottom:3px solid #669999;
}

.city-list{
    padding:10px;
}

.btn-block{
    margin-bottom:15px;
}


.area-name{
    padding-left:4px;
    border-left : 3px solid #00CC99;
    clear: both; 
    display:block;
    margin-right: 30px;
    margin-top:7px;
    margin-bottom:5px;
}

.area-element{
    float: left;
    margin-right: 10px;
}

.from-area{
    margin-top:40px;
}